* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.imagesBox::-webkit-scrollbar {
  display: none;
}

button:active {
  scale: 95%;
}

.imgContainer {
  height: 150px;
  width: 200px;
}

@media screen and (max-width: 600px) {
  .imgContainer {
    height: 100px;
    width: 150px;
  }
  .menuBtn {
    height: 50px;
  }
}
